{% extends "base.html.twig" %}

{% block page_title %}{% if post_id %}Edit post{% else %}Create post{% endif %}{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="card-header card-header-gray">
            <h2 class="card-title">
                <span class="material-symbols-outlined">edit</span>
                {% if post_id %}
                    Edit post
                {% else %}
                    Create post
                {% endif %}
            </h2>
        </div>
        <form method="post" action="{{ path_for('post.update') }}" id="post_form">
            <div class="card-body">
                <div class="col-8 offset-2">
                    <label for="post_title">Post title</label>
                    <div class="input-group">
                        <input type="text" name="title" class="form-control" id="post_title" value="{{ title }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <div class="custom-control custom-switch">
                                    <input
                                            type="checkbox"
                                            name="is_active"
                                            value="1"
                                            class="custom-control-input"
                                            id="is_active"
                                            {% if is_active == 1 %}checked{% endif %}
                                    >
                                    <label class="custom-control-label" for="is_active">Is active?</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="post_slug">Post slug</label>
                    <input type="text" name="slug" class="form-control" id="post_slug" value="{{ slug }}">

                    <label for="post_text">Post text</label>
                    <textarea name="content" class="form-control" id="post_text" cols="20" rows="20">{{ content|raw }}</textarea>

                    <div class="input-group mt-3">
                        <div class="custom-file">
                            <input
                                    aria-describedby="inputGroupFileAddon01"
                                    class="custom-file-input uploadButton"
                                    id="postPics"
                                    multiple
                                    name="pics[]"
                                    type="file"
                            >
                            <label class="custom-file-label" for="postPics">Upload pictures to current post</label>
                        </div>
                    </div>
                    <div class="uploadContainer"></div>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" name="post_id" value="{{ post_id }}"/>
                <button type="submit" class="btn btn-success col-6 offset-3">
                    <span class="material-symbols-outlined">save</span>
                    Save
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block page_js %}
    {{ parent() }}
    <script type="text/javascript" src="/js/topic.js"></script>
{% endblock %}