{% extends "base.html.twig" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="card">
        {% if pics %}
            {% set firstPic = pics|first %}
            <img src="{{ firstPic.full }}" alt="" class="card-img-top">
        {% endif %}
        <div class="card-header card-header-gray">
            <h2 class="card-title">
                {{ title }}
                {% if is_admin %}
                    <a href="{{ path_for('post.send', {'id': post_id}) }}" class="btn btn-warning btn-sm float-right">
                        <span class="material-symbols-outlined">edit</span>
                        Edit
                    </a>
                {% endif %}
            </h2>
        </div>
        <div class="card-body">
            {{ content|raw|nl2br }}
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <div>
                    <span class="material-symbols-outlined">today</span>
                    Published: {{ date_published|date("d.m.Y H:i") }}
                </div>
                {% if date_edited %}
                    <div>
                        <span class="material-symbols-outlined">edit_calendar</span>
                        Edited: {{ date_edited|date("d.m.Y H:i") }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}{% endblock %}